@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Rojal";
  src: url("../fonts/Rojal/Rojal-DO22x.ttf");
  font-weight: normal;
  font-style: normal;
}

.rojal_font {
  font-family: "Rojal", serif;
}

@keyframes hidden {
  100% {
    opacity: 0;
  }
}
.animate-hidden {
  animation: hidden 2s cubic-bezier(0.4, 0, 0.6, 1) forwards;
  -webkit-animation: hidden 2s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}
